{% extends 'base.html.twig' %}

{% block hero %}
<div class="phpdocumentor-header">
    <section class="phpdocumentor-section">
        <h1 class="phpdocumentor-title">{{ project.name }}</h1>
        {{ include('components/search.html.twig') }}
    </section>
</div>
{% endblock %}

{% block content %}
    <h2>Global</h2>

    {% set node = project.namespace %}

    {{
    include(
        'components/table-of-contents.html.twig',
        {
            'node': project.namespace,
            'namespaces': usesNamespaces or not usesPackages ? node.children : [],
            'packages': usesPackages ? project.package.children : []
        }
    )
    }}
    {{ include('components/constants.html.twig', {'node': project.namespace}) }}
    {{ include('components/functions.html.twig', {'node': project.namespace}) }}
{% endblock %}

{% block footer_javascripts %}
    <script src="{{ path('js/search.js') }}?updated={{ "now"|date('U') }}"></script>
{% endblock %}
